.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 20vmin;
}

.input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 48px;
}

.button-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container button {
  margin-bottom: 16px;
}